<html>
    <head></head>
    <body>

        <form method="POST" action="/search/<% file_name %>">
            <input name="searchData" type="text" placeholder="search">
            <input type="submit" text="Search">
          </form>

    </body>
</html>